<li class="{{"mr-6 my-2 md:my-0"|preprocess_classes(template,classes)}}">
    <a href="{{ url }}" class="block py-1 md:py-3 pl-1 align-middle text-textcolormenu no-underline hover:text-gray-100 border-b-2 border-backgroundmenu hover:border-textcolormenu">
        <i class="fas fa-tasks fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">{{ text }}</span>
    </a>
</li>