<a class="{{ "block text-boxcontent mb-2 pl-4 bg-groupelement h-10"| preprocess_classes(template,classes) }}" href="{{ url }}">
    {% if logo_file %}
        <img src="/res/images/{{ logo_file }}" class="inline-block w-8 mr-4 py-1 max-h-full max-w-full">
    {% elseif logo_icon %}
        <i class="gg-mail"></i>
    {% else %}
        <span class="inline-block w-12">&nbsp;</span>
    {% endif %}
    {{ text }}
</a>
