<div class="{{"container w-full mx-auto pt-20"|preprocess_classes(template,classes)}}">
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
		<div class="flex flex-wrap my-auto">                
        	<div class="flex flex-row flex-wrap flex-grow mt-2">
        	    {% for group in groups %}
				  	{% set group = group|preprocess("groups/group.twig") %}
        	    	{% include group.template with group %}
        	    {% endfor %}
        	</div>
        </div>
							
				
	</div>
</div> 