<nav id="header" class="bg-backgroundmenu fixed w-full z-10 top-0 shadow">
	

		<div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">
				
			<div class="w-3/4 pl-2 md:pl-0">
				<a class="text-gray-100 text-base text-titlecolor h-11 xl:text-xl no-underline hover:no-underline font-bold"  href="#"> 
					<img src="/justanotherdashboard.svg" class="w-12 h-11 inline-block ml-1 pr-2">
					<span class="inline-block -mb-5">{{ header.title }}</span>
				</a>
            </div>
			<div class="w-1/4 pr-0">
				<div class="flex relative float-right">
				
	


					<div class="block lg:hidden pr-4">
					<button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-textcolormenu  appearance-none focus:outline-none">
						<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
					</button>
				</div>
				</div>

			</div>


			<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 md:pb-1 lg:mt-0 z-20" id="nav-content">
				<ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
                    {% for navlink in navlinks %}
                        {% include "nav-item.twig" with navlink %}              
                    {% endfor %}
				</ul>
				
				<div class="relative pull-right pl-4 pr-4 md:pr-0">
                    <input type="search" placeholder="Search" class="w-full bg-backgroundmenu text-sm transition border focus:outline-none rounded py-1 px-2 pl-10 appearance-none leading-normal">
                    <div class="absolute search-icon" style="top: 0.375rem;left: 1.75rem;">
                        <svg class="fill-current pointer-events-none text-textcolormenu w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                        </svg>
                    </div>
                </div>
				
			</div>
			
		</div>
	</nav>